/* testing, not important */
.cloudinary-thumb {
  width: 360px;
}

.new-entry-page {
  margin: auto;
  margin-top: 70px;
  max-width: 360px;
  margin-top: 90px;
}

.ne-title {
  text-align: left;
  padding: 0 5%;
}

.ne-title-top {
  padding-bottom: 10px;
}

.ne-title h3 {
  font-weight: 300;
  font-size: 16px;
}

.ne-title h2, .ne-title h3 {
  margin: 0;
}

.ta {
  position: relative;
  top: 10px;
}

.cloud-button {
  margin-top: 20px;
}

#parallax {
  min-height: 410px; 
  background-attachment: fixed;
  background-position-y: 38%;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: initial;
  width: 90%;
  margin: auto;
  margin-bottom: 3%;
}

.entry_form {
  display: inline-block;
  margin: auto;
  width: 100%;
  max-width: 360px;
  transition: 300ms;
}

.entry_form button {
  margin: auto;
  color: white;
  background-color: rgb(189, 62, 30);
  font-size: 16px;
  padding: 12px;
  width: 67%;
  float: right;
  border: none;
}

.entry_form a {
  margin: auto;
  color: rgb(65, 65, 65);
  background-color: white;
  font-size: 16px;
  width: 33%;
  float: left;
  padding: 12px 0;
  padding-bottom: 0;
}

.entry_form footer {
  position: fixed;
  width: 324px;
  max-width: 334px;
  left: 0;
  bottom: 0;
  right: 0;
  display: inline-block;
  margin: auto;
  padding-bottom: 0;
}

textarea {
  resize: none;
  display: block;
  margin: 20px auto;
  margin-bottom: 70px;
  width: 302px;
  height: 345px;
  padding: 10px;
  border: 1px solid darkgray;
  font-size: 16px;
}

.upload-button {
  border: 1px solid darkgray;
  background-color: white;
  height: 120px;
  width: 326px;
  transition: 300ms;
  margin: 18px;
  margin-top: 7px;
  margin-bottom: 28px;
}

.upload-button:hover {
  background-color: rgb(174, 212, 235);
}

@media only screen and (min-height: 700px) {
  textarea {
    height: 412px;
  }
}

@media only screen and (min-width: 768px) {
  .new-entry-page {
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 100px 30% 1fr;
    max-width: 1000px;
    margin-top: 100px;
  }
  .ne-title {
    text-align: center;
  }
  .ne-title-top {
    grid-column: 2/4;
    grid-row: 1/2;
  }
  .entry_form {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .entry_form footer {
    position: relative;
    grid-column: 3/4;
    grid-row: 3/4;
    margin-top: 10px;
  }
  textarea {
    height: 260px;
    width: inherit;
    margin-bottom: 0;
  }
  .cloud-button {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .cloud-button h3 {
    position: relative;
    bottom: 10px;
  }
  .upload-button {
    margin-top: 0px;
    height: 180px;
    width: 150px;
  }
  #parallax {
    grid-column: 3/4;
    grid-row: 2/3;
    margin: auto;
    margin-top: 20px;
    background-attachment: inherit;
    background-size: 50%;
    min-height: 285px;
    width: 318px;
  }
  .mood-container {
    grid-column: 3/4;
    grid-row: 3/4;
    height: 130px;
    margin-top: 85px;
  }


}