/* testing, not important */
.cloudinary-thumb {
  width: 360px;
}

.new-entry-page {
  margin-top: 70px;
}

#parallax {
  min-height: 460px; 
  background-attachment: fixed;
  background-position-y: 38%;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: initial;
  width: 80%;
  margin: auto;
  margin-bottom: 10%;
}

.entry_form {
  display: inline-block;
  margin: auto;
  width: 100%;
  max-width: 360px;
  transition: 300ms;
}

.entry_form button {
  margin: auto;
  color: white;
  background-color: rgb(189, 62, 30);
  font-size: 16px;
  padding: 12px;
  width: 67%;
  float: right;
  border: none;
}

.entry_form a {
  margin: auto;
  color: rgb(65, 65, 65);
  background-color: white;
  font-size: 16px;
  width: 33%;
  float: left;
  padding: 12px 0;
}

.entry_form footer {
  position: fixed;
  width: 100%;
  max-width: 334px;
  left: 0;
  bottom: 0;
  right: 0;
  display: inline-block;
  margin: auto;
}

textarea {
  resize: none;
  display: block;
  margin: 20px auto;
  margin-bottom: 70px;
  width: 312px;
  height: 400px;
  padding: 10px;
  border: 1px solid darkgray;
  font-size: 16px;
}

.upload-button {
  border: 1px solid darkgray;
  background-color: white;
  height: 120px;
  width: 120px;
  transition: 300ms;
  margin: 18px;
}

.upload-button:hover {
  background-color: lightgray;
}

@media only screen and (min-height: 700px) {
  textarea {
    height: 500px;
  }
}