ul {
  list-style: none;
  padding: 0;
}

.chart-instructions {
  text-align: center;
  padding: 20px;
}

.new-entry-button {
  display: inline-block;
  margin: auto;
}

.new-entry-button:hover {
  color: rgb(136, 132, 216);
}

/* .tutorial-container {
  background-color: white;
  width: 80%;
  position: absolute;
  overflow-y: scroll;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 200;
  opacity: 1;
  transition: opacity .3s;

  padding: 0 10%;
  transition: all 500ms;
}

.tutorial-container img {
  width: 100px;
  margin-top: 20%;
}

.tutorial-container h2 {
  margin-top: 20%;
  text-align: center;
}

.tutorial-container h3 {
  text-align: left;
}

.tutorial-container p {
  text-align: left;
}

.tutorial-container button {
  margin: auto;
  margin-top: 20%;
  color: white;
  background-color: rgb(136, 132, 216);
  font-size: 16px;
  padding: 12px;
  width: 80%;
  max-width: 360px;
  border: none;
} */

.entry-charts-dashboard-container {
  margin-top: 100px;
}

.entryList-entry {
  padding: 10px;
  margin: auto;
  margin-bottom: 15px;
  border: black solid 1px;
  box-shadow: 5px 5px 3px grey;
  border-radius: 10px;
  transition: all .3s;
}

.entryList-entry:hover {
  box-shadow: 8px 8px 3px grey;
  cursor: pointer;
  transform: scale(1.01, 1.01);
}

.entryList-entry:active {
  box-shadow: none;
  transition: all .1s;
  transform: scale(.99, .99);
}

.entryList-entry svg:hover {
  cursor: pointer;
}

@media only screen and (max-width: 850px) {

  .entryList-entry {
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
    border: black solid 1px;
    box-shadow: 3px 3px 3px grey;
    border-radius: 10px;
  }

  .entryList-entry:hover {
    transform: none;
  }

  .entryList-entry:active {
    transform: none;
  }
}

@media only screen and (min-width: 850px) {

  .entryList-entry {
    width: 850px;
  }

  /* .tutorial-container {
    width: 46%;
    padding: 0 27%;
  }
  .tutorial-container img {
    margin-top: 8%;
  }
  .tutorial-container h2 {
    margin-top: 5%;
  }
  .tutorial-container button {
    margin-top: 10%;
    width: 160px;
  }
  .tutorial-container p {
    text-align: center;
  } */

  /* .entryList-entry:hover {
    box-shadow: 8px 8px 3px grey;
    cursor: pointer;
    transform: scale(1.01, 1.01);
  }
  
  .entryList-entry:active {
    box-shadow: none;
    transform: scale(.99, .99);
  }
  
  .entryList-entry svg:hover {
    cursor: pointer;
  } */
}

