ul {
  list-style: none;
  padding: 0;
}

.chart-instructions {
  text-align: center;
  padding: 20px;
}

.new-entry-button {
  display: inline-block;
  margin: auto;
}

.new-entry-button:hover {
  color: rgb(136, 132, 216);
}

.entry-charts-dashboard-container {
  margin-top: 100px;
}

.entryList-entry {
  padding: 10px;
  margin: auto;
  margin-bottom: 15px;
  border: black solid 1px;
  box-shadow: 5px 5px 3px grey;
  border-radius: 10px;
  transition: all .3s;
}

.entryList-entry:hover {
  box-shadow: 8px 8px 3px rgb(161, 161, 161);
  cursor: pointer;
  transform: scale(1.01, 1.01);
}

.entryList-entry:active {
  box-shadow: none;
  transition: all .1s;
  transform: scale(.99, .99);
}

.entryList-entry svg:hover {
  cursor: pointer;
}

.example-entry {
  width: 200px;
  opacity: 0.5;
  border: 1px solid gray;
}

@media only screen and (max-width: 850px) {

  .entryList-entry {
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
    border: black solid 1px;
    box-shadow: 3px 3px 3px grey;
    border-radius: 10px;
  }

  .entryList-entry:hover {
    transform: none;
  }

  .entryList-entry:active {
    transform: none;
  }
}

@media only screen and (min-width: 850px) {

  .entryList-entry {
    width: 850px;
  }

}

