.main-header {
  position: fixed;
  width: 100%;
}

.main-header nav {
  padding: 7px 4%;
}

.main-header h1 {
  float: left;
  margin: 0;
  font-size: 16px;
}

.logout-link {
  display: block;
  float: right;
  font-size: 14px;
  position: relative;
  bottom: 4px;
}