.entry-tag{
    /* min-width:70%; */
    height:auto;
    font-weight: 400;
}

.entry-tag:hover {
    cursor: pointer;
}

.entry-charts-entry-container .entry-tag:hover {
    cursor: default;
}

.past-entries .entry-tag {
    width: 60%;
}

.entryTag-div img {
    width: 23px;
    position: relative;
    top: 4px;
    right: -25px;
}

.entryTag-div h3 {
    display: inline-block;
}

/* .entry-time {
  font-size: 11px;
  margin: 0;
  color: rgb(82, 82, 82);
  position: relative;
  bottom: 10px;
} */