.entry-tag{
    height:auto;
    font-weight: 400;
}

.entry-tag:hover {
    cursor: pointer;
}

.entry-charts-entry-container .entry-tag:hover {
    cursor: default;
}

.past-entries .entry-tag {
    width: 60%;
}

.entryTag-div img {
    width: 23px;
    position: relative;
    top: 4px;
    right: -25px;
}

.entryTag-div h3 {
    display: inline-block;
}