.recharts-wrapper {
  margin: auto;
}

.radar-charts {

  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  grid-template-rows: 10% 10% 80%;

  height: 300px;

  background-color: white;

  border-bottom: 1px solid darkgray;
}

.entry-label {
  grid-column: 2/4;
  grid-row: 1/2;
}

.entry-label div {
  display: inline-block;
}

.fa-trash {
  font-size: 1.5em;
}

.entry-label h3 {
  margin: auto;
}

.chart-title-tone {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: auto;
}

.chart-title-face {
  grid-column: 3/4;
  grid-row: 2/3;
  margin: auto;
}

.tone-table {
  height: 250px;
  grid-column: 2/3;
  grid-row: 3/4;
}

.face-table {
  height: 250px;
  grid-column: 3/4;
  grid-row: 3/4;
}

tspan {
  font-size: .85em;
}


@media only screen and (max-width: 760px) {
  .radar-charts {
    display: grid;
    grid-template-columns:50% 50%;
    grid-template-rows: 10% 10% 80%;

    height: 200px;
  }
  
  .entry-label {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  
  .entry-label h3 {
    margin: auto;
  }
  
  .chart-title-tone {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: auto;
  }
  
  .chart-title-face {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: auto;
  }
  
  .tone-table {
    height: 150px;
    grid-column: 1/2;
    grid-row: 3/4;
  }
  
  .face-table {
    height: 150px;
    grid-column: 2/3;
    grid-row: 3/4;
  }
  
  tspan {
    font-size: .6em;
  }

  .chart-title-tone, .chart-title-face {
    font-size: .8em;
  }

  .entry-label {
    font-size: .85em;
  }
}