.recharts-wrapper {
  margin: auto;
}

.radar-charts {

  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  /* grid-template-rows: 20% 10% 70%; */

  grid-template-rows: 20% 70% 10%;


  height: 350px;

  background-color: white;
}

.entry-label {
  grid-column: 2/3;
  grid-row: 1/2;
}

.entry-label div {
  display: inline-block;
}

/* .fa-trash {
  font-size: 1.5em;
}

.fa-trash:hover {
  cursor: pointer;
} */

.entry-label h3 {
  margin: auto;
  font-size: 1.5em;
  margin-top: 10px;
}

.entry-charts-dashboard-container .entry-label h3 {
  text-decoration: underline;
}

.chart-title-tone {
  grid-column: 2/3;
  /* grid-row: 2/3; */
  grid-row: 3/4;

  margin: auto;
}

.chart-title-face {
  grid-column: 3/4;
  /* grid-row: 2/3; */
  grid-row: 3/4;

  margin: auto;
}

.tone-table {
  height: 250px;
  grid-column: 2/3;
  /* grid-row: 3/4; */
  grid-row: 2/3;

}

.face-table {
  height: 250px;
  grid-column: 3/4;
  /* grid-row: 3/4; */
  grid-row: 2/3;

}

tspan {
  font-size: .85em;
}

.chart-emoji {
  height: 50px;
  grid-column: 3/4;
  grid-row: 1/2;
  margin: auto;
  margin-top: 10px;
  opacity: .75;
}


@media only screen and (max-width: 760px) {
  .radar-charts {
    display: grid;
    grid-template-columns:50% 50%;
    /* grid-template-rows: 30% 10% 60%; */
    grid-template-rows: 22% 68% 10%;


    height: 210px;
  }
  
  .entry-label {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  
  .entry-label h3 {
    margin: auto;
    font-size: 1.2em;
    margin-top: 10px;
  }
  
  .chart-title-tone {
    grid-column: 1/2;
    /* grid-row: 2/3; */
    grid-row: 3/4;

    margin: auto;
  }
  
  .chart-title-face {
    grid-column: 2/3;
    /* grid-row: 2/3; */
    grid-row: 3/4;

    margin: auto;
  }
  
  .tone-table {
    height: 150px;
    grid-column: 1/2;
    /* grid-row: 3/4; */
    grid-row: 2/3;

  }
  
  .face-table {
    height: 150px;
    grid-column: 2/3;
    /* grid-row: 3/4; */
    grid-row: 2/3;

  }
  
  tspan {
    font-size: .57em;
  }

  .chart-title-tone, .chart-title-face {
    font-size: .8em;
  }

  .entry-label {
    font-size: .85em;
  }

  .chart-emoji {
    height: 40px;
    grid-column: 2/3;
    grid-row: 1/2;
    margin: auto;
    margin-top: 10px;
  }
}